#sudo a2enmod proxy
#sudo a2enmod proxy_balancer
#sudo a2enmod lbmethod_byrequests
<IfModule mod_ssl.c>
    <VirtualHost *:443>
      ServerAdmin admin@server.io
      ServerName server.io
      ProxyRequests Off
      ProxyPreserveHost On
      ProxyVia Full

      <Proxy *>
         Require all granted
      </Proxy>

    #BALANCE SPECIFC REQUEST PATH WITH BALANCEMEMBER
    # <Location /api/media/>
    #     ProxyPass balancer://mycluster/
    #     ProxyPassReverse balancer://mycluster/
    #     ProxySet lbmethod=byrequests
    #     ProxySet stickysession=JSESSIONID
    # </Location>

    #OR 

    #PROXY BALANCER WITH HEALTH CHECK FOR BACKUP 
      <Proxy balancer://mycluster>
        BalancerMember http://127.0.0.1:3000
        BalancerMember http://127.0.0.1:3001 status=+H
      </Proxy>

      ProxyPass / balancer://mycluster/
      ProxyPassReverse / balancer://mycluster/

      #REVERSE PROXY CONFIG IN APACHE
      #ProxyPass / http://127.0.0.1:8080/
      #ProxyPassReverse / http://127.0.0.1:8080/
      ErrorLog ${APACHE_LOG_DIR}/error.log
      CustomLog ${APACHE_LOG_DIR}/access.log combined
    
    #SSLCertificateFile /etc/letsencrypt/live/server.io/fullchain.pem
    #SSLCertificateKeyFile /etc/letsencrypt/live/server.io/privkey.pem
    #Include /etc/letsencrypt/options-ssl-apache.conf
    </VirtualHost>
</IfModule>
